*{
    font-family: 'Roboto', sans-serif;
}
.destaque{
    color: blue;
}
.bloco{
    background-color: rgb(56, 56, 255);
    width: fit-content;
    color: white;
    padding: 4px;
}
.destaque-texto{
    color: rgb(68, 68, 255);
}
.final{
    background-color: black;
    text-align: center;
    padding: 0.1px;
}
.rodape{
    color: white;
}
main{
    margin: 0 auto;
    width: 900px;
}
.título{
    text-align: center;
}  
.subtítulo{
    font-size: small;
}


    

